@use "sass:color";

.poster-page {
  .site-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background: transparent;
    border: none;

    .site-header__title,
    .nav-link {
      color: $color-background;
      text-shadow: 0 1px 3px rgb(0 0 0 / 60%);
    }
  }

  .poster {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: $color-background;

    .highlight {
      color: $color-secondary;
    }

    @supports not (display: grid) {
      display: block;
    }

    &__hero {
      display: grid;
      position: relative;
      height: 75vh;
      padding: 2rem;
      text-align: center;
      background: url("../images/main-page.png") no-repeat center center;
      background-size: cover;
      place-items: center;
      isolation: isolate;
    
      &::before {
        position: absolute;
        z-index: -1;
        background: rgb(0 0 0 / 55%);
        content: "";
        inset: 0;
      }
    }

    &__content {
      margin: auto;
      padding: 2rem;
      color: $color-background;
      max-width: 700px;
      text-shadow: 0 1px 3px rgb(0 0 0 / 60%);

      h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      .poster__subtitle {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.6;
        margin-bottom: 1.5rem;
      }

      .poster__info {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        font-size: 1rem;
        font-weight: 500;
        color: $color-background;
        transform: translateX(-50%);
        text-shadow: 0 1px 3px rgb(0 0 0 / 60%);
      }
    }
  }
}
