<header class="site-header">
    <section class="site-header__container container">
  
      <div class="site-header__branding">
        <span class="site-header__logo">
          <i class="fas fa-recycle" aria-hidden="true"></i>
        </span>
        <span class="site-header__title">EcoCircular Fest</span>
      </div>
  
      <nav class="site-header__nav" aria-label="Navegació principal">
        <ul class="site-header__nav-list">
          <li class="site-header__nav-item">
            <a href="./speakers.html" class="site-header__nav-link">Oradors</a>
          </li>
          <li class="site-header__nav-item">
            <a href="./article.html" class="site-header__nav-link">Article</a>
          </li>
          <li class="site-header__nav-item">
            <a href="./lliure.html" class="site-header__nav-link">Contingut</a>
          </li>
        </ul>
      </nav>
  
    </section>
  </header>
  