<header class="site-header">
    <div class="site-header__container">
        <div class="site-header__logo">
            <span class="site-header__logo-icon">©</span>
            <span class="site-header__logo-text">LOGO</span>
        </div>
  
      <nav class="site-header__nav" aria-label="Navegació principal">
        <ul class="nav-list">
          <li><a href="./index.html">index</a></li>
          <!-- <li><a href="participants.html">Participants</a></li>
          <li><a href="article.html">Article</a></li>
          <li><a href="lliure.html">Contingut</a></li> -->
        </ul>
      </nav>
    </div>
  </header>
  